* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-page {
  height: 850px;
  width: 800px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
}

#maze-area {
height: 425px;
width: 600px;
background-color: lightgrey;
display: grid;
grid-template-columns: repeat(24, 25px);
grid-template-rows: repeat(17, 25px);


.maze-wall {
height: 100%;
width: 100%;
background-color: black;
color: red;
}}

#player {
height: 20px;
width: 20px;
background-color: lime;
position: relative;
top: 425px;
left: 262px;
}

