* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game-page {
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding-right: 25px;
}

#maze-area {
  height: 425px;
  width: 600px;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(24, 25px);
  grid-template-rows: repeat(17, 25px);
}
#maze-area .maze-wall {
  height: 100%;
  width: 100%;
  background-color: black;
  color: red;
}

.maze-path img {
  width: 25px;
  height: auto;
}

#player {
  height: 20px;
  width: 20px;
  background-color: rebeccapurple;
  position: absolute;
}
#player img {
  width: 18px;
  height: auto;
}